$base-color: #FB9634;

.header{
  align-items: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  padding: 1vh 0;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar-brand {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
}

nav{
  ul{
    li{
      height: 30px;
      position: relative;
      text-align: center;
      width: 8vw;
      a{
        color: #000000;
        padding: 0;
        text-decoration: none;
        width: 100%;
        height: 100%;
        &:hover{
          color: $base-color;
        }
      }
      .active{
        background: black;
        color: white;
      }
    }
  }
}
