<header class="header">
  <a class="navbar-brand nav-link" href="#home">PANZ CONSULTANTS</a>
  <nav id="panz-navbar" class="navbar navbar-light px-3">
    <ul id="nav" class="nav nav-pills">
      <li class="nav-item">
        <a href="#home"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-us">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
