$base-color: #FB9634;

.header-section {
  height: 10vh;
}

.nav-link {
  color: #000;
}

.active{
  background: #000 !important;
}

@media (max-width: 767.98px) {
  .header-section {
    background-color: $base-color;
  }
}

@media (min-width: 768.02px) {
  .nav-link {
    &:hover{
      color: $base-color;
    }
  }
}