$base-color: #FB9634;

.header{
  align-items: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 1vh 0;
  position: sticky;
  top: 0px;
  z-index: 10;
}
h1 {
  color: #000000;
  font-size: 23.1609px;
  font-style: normal;
  font-weight: 800;
  height: 28px;
  left: 50px;
  line-height: 28px;
  position: relative;
}
nav{
  height: 25px;
  line-height: 50px;
  padding-right: 2vw;
  ul{
    display: flex;
    list-style:none;
    margin:0 auto;
    padding:0;

    li{
      border-radius: 9px;
      height: 40px;
      margin: 0px 5px 0px 5px;
      position: relative;
      text-align: center;
      top: -5px;
      width: 134px;
      a{
        left: 50%;
        position: absolute;
        text-decoration: none;
        top: 60%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        &:hover{
          color: $base-color;
        }
      }
    }
  }
}

.active-li{
  background: #141E34;
  border-radius: 9px;
  color: white;
  height: 40px;
  margin: 0px 5px 0px 5px;
  position: relative;
  text-align: center;
  top: -5px;
  width: 134px;

  a{
    color: white;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    &:hover{
      color: white !important;
    }
  }
}
