footer{
  background: black;
  height: 60px;
  position: sticky;
  .email {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  span {
    padding-left: 10px;
    color: white;
    font-size: 20px;
  }
}
