.contact-us-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 700px;
  .form-container {
    display: flex;
    flex-direction: column;
    .input-containter {
      margin: 20px 0;
      min-width: 600px;
      input {
        min-height: 30px;
        height: 4vh;
        margin: 10px 0;
        padding-left: 1vw;
        width: calc(100% - 1vw);
      }
    }
    .text-area-container {
      min-width: 600px;
      textarea {
        min-height: 150px;
        margin-top: 10px;
        padding-left: 1vw;
        resize: none;
        width: calc(100% - 1vw);
      }
    }
    .sumbit-btn {
      margin-top: 2vh;
      align-self: flex-end;
      button {
        width: 166.07px;
        height: 53px;
        background: #FB9634;
        border-radius: 10px;
        border: none;
        font-size: 2vh;
      }
    }

    label{
      padding: 10px 0;
    }

    .border {
      background: #F2F3FE;
      border: none;
      border-radius: 10px;
    }
  }
  .img-containter{
    width: 40vw;
    text-align: center;

    .circle{
      background: #FE5354;
      border-radius: 9vh;
      height: 5vh;
      position: relative;
      left: 10vw;
      width: 5vh;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  footer{
    background: black;
    .phone {
      display: flex;
      align-items: center;
      float: left;
      margin: 10px;
      padding-left: 3vw;
    }
    .email {
      display: flex;
      align-items: center;
      float: right;
      margin: 10px;
    }

    span {
      padding-left: 10px;
      color: white;
      font-size: 20px;
    }
  }
}
