$base-color: #FB9634;

h1 {
  font-size: 2em;
  font-weight: bold;
}

button {
  background-color: $base-color;
}

.mat-form-field {
  display: block;
  max-width: 80vh;
}

img {
  width: 60vh;
  height: 40vh;
}
