.about-us {
  height: 50vh;
  main {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    p {
      padding: 0 3vw;
      align-self: center;
      width: 40vw;
      line-height: 2em;
    }
    .about-us-img {
      img {
        height: 40vh;
        width: 40vw;
      }
    }
  }
}
