<div class="section container">
  <div class="row">
    <div class="col-md-6 my-4">
      <h1 class="d-flex pt-5 align-items-center">
        <div class="line-container-black"></div>
        About Us
      </h1>
      <main>
        <p>
          We are a team of telco technology enthusiasts developing engaging and satisfying products to users on mobile.
          offering a wide range of consulting services with the necessary tools and expertise to help grow your business.
          <br> 
          <br>
          We partner with our clients from start to finish, focusing on their needs while producing new ideas, developing
          effective strategies and help them expand their footprint to new territories.
        </p>
      </main>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <div class="about-us-img">
        <img src="./../../assets/aboutUs.png" alt="about-us">
      </div>
    </div>
  </div>
  </div>
