<div class="section about-us">
  <h1 class="section-header">
    <div class="line-containter-black"></div>
    About Us
  </h1>
  <main>
    <p>
      We are a team of telco technology enthusiasts developing engaging and satisfying products to users on mobile.
      offering a wide range of consulting services with the necessary tools and expertise to help grow your business.
      <br> 
      <br>
      We partner with our clients from start to finish, focusing on their needs while producing new ideas, developing
      effective strategies and help them expand their footprint to new territories.
    </p>
    <div class="about-us-img">
      <img src="./../../assets/about-us.png" alt="about-us">
    </div>
  </main>
  </div>
