body, html {
    margin: 0;
    padding: 0;
  }
  
  .main-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    max-width: 1000px;
  }
  
  .scroll-block {
    width: 25px;
    top: 25%;
    right: 12%;
    opacity: 0.7;
    position: fixed;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }
  
  .scroll-card {
    height: 100%;
    margin-bottom: 5px;
  }
  
  .card-inner {
    height: 100%;
    background: #f071ca;
  }
  
  .card-inner h2 {
    padding: 30px;
  }
  
  .scroll-inner:hover {
    opacity: 1;
  }
  
  .round-wrap {
    position: relative;
  }
  
  .step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: cream;
    justify-content: flex-start;
  }
  
  .step .circle {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: #ffffff;
    border: 5px solid rgb(55, 0, 255);
    border-radius: 100%;
  }
  
  .step.completed .circle {
    visibility: visible;
    border-color: rgb(0, 0, 0);
  }
  
  .step.active .circle {
    visibility: visible;
    border-color: rgb(0, 0, 0);
  }
  
  .step.empty .circle {
    visibility: hidden;
  }