
<app-header></app-header>
<div data-bs-spy="scroll" data-bs-target="#panz-navbar" data-bs-offset="200" class="panz-scrollspy" tabindex="0">
  <section id="home">
    <app-home></app-home>
  </section>
  <section id="services">
    <app-services></app-services>
  </section>
  <section id="products">
    <app-products></app-products>
  </section>
  <section id="about-us">
    <app-about-us></app-about-us>
  </section>
  <section id="contact-us">
    <app-contact-us></app-contact-us>
  </section>
</div>
<app-footer></app-footer>
