#home{
background:white;
}
#services{
background:#FB9634;
}
#product{
  background:white;
}
#about-us{
  background:#FB9634;
}

.panz-scrollspy {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}
