h1 {
  font-size: 2em;
  font-weight: bold;
}

.product-images {
  height: 20vh;
}

.mat-card {
  min-height: 50vh !important;
  max-height: 50vh !important;
  overflow-y: hidden;
}

.logo-card {
  background-image: url("./../../assets/logoBackground.png");
  background-repeat: no-repeat;
  background-position: left center;
}

p {
  line-height: 1.4em;
}
