$base-color: #FB9634;

h1 {
  font-size: 2em;
  font-weight: bold;
}

.product-images {
  height: 15vh;
}

.logo-card {
  background-image: url("./../../assets/logoBackground.png");
  background-repeat: no-repeat;
  background-position: left center;
}

p {
  line-height: 1.4em;
}

@media (min-width: 768.02px) {
  .mat-card {
    min-height: 55vh !important;
    max-height: 55vh !important;
    overflow-y: hidden;
  }
}

@media (max-width: 767.98px) {
  .mat-card {
    border: 0.1em solid $base-color;
  }
}