<div class="section">
  <div class="container">
    <h1 class="d-flex pt-5 align-items-center">
      <div class="line-container-orange"></div>
      Products
    </h1>
    <div class="row mt-4">
      <div class="col-md-4">
        <mat-card class="d-none d-md-block logo-card d-md-flex justify-content-md-center">
          <mat-card-content class="align-self-md-center">
            <img src="./../../assets/logo.png">
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="my-3 my-md-0">
          <mat-card-content>
           <div class="row">
            <h2 class="d-block d-md-none">Gaming</h2>
             <div class="col-md-6 d-flex justify-content-center d-md-block">
               <img class="product-images" src="./../../assets/gaming.png"/>
             </div>
            <div class="col-md-6">
              <h2 class="d-none d-md-block">Gaming</h2>
              <p>
                Our gaming arcade with 850+ casual games is the largest gaming library helping telcos engage their users and
                also improve loyalty. Our games services are offered on subscription and Freemium models across 30+ Telcos globally.
              </p>
            </div>
           </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="my-3 my-md-0">
          <mat-card-content>
            <div class="row">
              <h2 class="d-block d-md-none">Advertising</h2>
              <div class="col-md-6 d-flex justify-content-center">
                <img class="product-images" src="./../../assets/advertising.png"/>
              </div>
             <div class="col-md-6">
              <h2 class="d-none d-md-block">Advertising</h2>
              <p>
                As telcos look to explore additional revenue streams, our innovation in the adtech caters to the need of
                Telco, brands and users in a unique way.<br>
                Our Advertising solution for Telcos incentivises users for allowing Ads while offering brands  targeted campaigns. This in turn generates revenues for Telcos.
              </p>
             </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-md-4">
        <mat-card class="my-3 my-md-0">
          <mat-card-content>
            <div class="row">
              <h2 class="d-block d-md-none">mEducation</h2>
              <div class="col-md-6 d-flex justify-content-center">
                <img class="product-images" src="./../../assets/education.png"/>
              </div>
             <div class="col-md-6">
              <h2 class="d-none d-md-block">mEducation</h2>
              <p>
                With a vision to offer cheap and affordable technical education to the youth segment in various markets across
                SEA, India and Africa, we offer our visual education platform with video lessons on learning computer languages
                (Python, C programming), algorithms, data structures etc in English and regional languages.
              </p>
             </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="my-3 my-md-0">
          <mat-card-content>
            <div class="row">
              <h2 class="d-block d-md-none">m-Library</h2>
              <div class="col-md-6 d-flex justify-content-center">
                <img class="product-images" src="./../../assets/library.png"/>
              </div>
             <div class="col-md-6">
              <h2 class="d-none d-md-block">m-Library</h2>
              <p>
                “Books are a mans best friend-Groucho Marx”<br>
                In line with this saying our mLibrary offers 1400+ bestsellers of world renown Authors and publishers on their
                mobile phone. A subscribed user can access these books in English, Spanish and French from the comfort of their
                mobile.
              </p>
             </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="my-3 my-md-0">
          <mat-card-content>
            <div class="row">
              <h2 class="d-block d-md-none">VAS / Digital Master Aggregation</h2>
              <div class="col-md-6 d-flex justify-content-center">
                <img class="product-images" src="./../../assets/vas.png"/>
              </div>
             <div class="col-md-6">
              <h2 class="d-none d-md-block">VAS / Digital Master Aggregation</h2>
              <p>
                Enabling operators to centralise their VAS and Digital business, our MA platform delivers End-to-End
                services for the telecom operators to reduce business costs, improve process efficiency and increases
                overall revenue.
              </p>
             </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
