<div class="section">
  <div class="container">
    <h1 class="d-md-flex pt-md-5 align-items-md-center">
      <div class="line-container-black"></div>
      Services
    </h1>
    <main>
      <section class="d-md-flex justify-content-md-center align-items-md-center mb-md-2">
        <img src="./../../assets/advising.png"/>
        <div>
          <h2>Advising</h2>
          <p>Looking to develop your business but not sure where to turn? Need help planning or executing your
            next project? Let us guide you. Any organization can move forward with small incremental changes,
            but building for the future in today's rapidly evolving environment means taking bold chances and making
            insightful decisions.</p>
        </div>
      </section>
      <section class="d-md-flex justify-content-md-center align-items-md-center mb-md-2">
        <div>
          <h2>Business Consulting (Expansion)</h2>
          <p>With years of experience, we have the capabilities and expertise to take your business to the next level.
            At PANZ, we combine our insights, skills and network to transform your processes
            and strategies, and in turn, your company. We're proud to help shape and expand our clients business.</p>
        </div>
        <img src="./../../assets/consulting.png"/>
      </section>
      <section class="d-md-flex justify-content-md-center align-items-md-center mb-md-2">
        <img src="./../../assets/strategic.png"/>
        <div>
          <h2>Strategic planning</h2>
          <p>With in-depth market and industry knowledge we suggest strategies to stay relevant and competitive in this
            fast-paced world, and which ones are doing it best. With these market information we help our clients with an
            effective approach for new markets. Get in touch to learn more about how this service can help you</p>
        </div>
      </section>
    </main>
  </div>
</div>
