.sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  img {
    height: 20vh;
    width: 20vh;
    padding: 0 5vh 5vh 22vh;
  }
  h2, p {
    padding: 0 10vh;
  }
  div {
    max-width: 50vw;
  }
}
.sub-section-two {
  img {
    padding: 0 22vh 5vh 0vh;
  }

  h2, p {
    padding: 0 10vh 0 0;
  }

  div {
    padding: 0 5vh 5vh 25vh;
    max-width: 50vw;
  }
}
