/* You can add global styles to this file, and also import other style files */
* {
  color: #000;
  font-style: normal;
  line-height: 1.8em;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.line-container-black {
  background: #000;
  border-radius: 30px;
  height: 30px;
  margin-right: 20px;
  width: 12px;
}

.line-container-orange {
  background: #FB9634;
  border-radius: 30px;
  height: 30px;
  margin-right: 20px;
  width: 12px;
}

.container-fluid {
  padding: 0 !important;
}

.section {
  margin-top: 6%;
}

p {
  font-size: 1.2em;
}

h1, h2 {
  font-size: 2em;
  font-weight: bold;
}