$base-color: #FB9634;

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  letter-spacing: -0.03em;
  padding-left:16px;
  letter-spacing: -0.03em;
}

img {
  width: 60vh;
  height: 60vh;
}

#our-text {
  color: $base-color;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  width: 246px;
  height: 50px;
  border-radius: 4px;
  padding: 6px 6px 6px 6px;
  border-color: $base-color !important;
  letter-spacing: 1.25px;
}

.view-products {
  padding-left: 16px;
}

@media (max-width: 767.98px) {
  .sm-background {
    background-image: url("./../../assets/logoXsSm.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}