$base-color: #FB9634;

.home {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.aside-one {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    max-width: 32vw;
    line-height: 50px;
    font-weight: 600;
  }

  .big-circle {
    margin-top: 50px;
    align-self: flex-end;
  }
}

.aside-two {
  display: flex;
  align-self: center;
  img {
    width: 60vh;
    height: 60vh;
  }
}

.view-products {
  background-color: $base-color;
  border-radius: 9px;
  height: 40px;
  margin: 2vh 5px 0px 5px;
  text-align: center;
  top: -5px;
  position: relative;
  width: 134px;
  a {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    text-decoration: none;
  }
}

.big-circle {
  width: 12vh;
  height: 12vh;
  background-color: $base-color;
  border-radius: 50%;
  display: inline-block;
}
.small-circle {
  width: 5vh;
  height: 5vh;
  background-color: $base-color;
  border-radius: 50%;
  display: inline-block;
}
