<div class="container">
  <div class="section row d-md-flex justify-content-around">
    <div class="col-md-6 aside d-md-flex justify-content-center flex-column">
      <p>Growing your Business is <span id="our-text">OUR</span> Business</p>
      <div class="view-products">
        <a mat-stroked-button href="#products">View Products</a>
      </div>
    </div>
    <div class="col-md-6 aside d-md-flex align-self-center">
      <img src="./../../assets/dartArrow.png"/>
    </div>
  </div>
</div>
